{% extends "layout.html" %}

{% block content %}
<h2>Admixture Analysis Form</h2>
<form action="{{ url_for('analyze_admixture') }}" method="post" id="admixtureForm">
    <fieldset>
        <legend>Select Populations for Admixture Analysis:</legend>
        <div class="population-container">
            <!-- Loop through the populations passed from the Flask route and create a checkbox for each one -->
            {% for population in populations %}
                <label class="population-label">
                    <input type="checkbox" id="pop{{ population.PopulationID }}" name="populations[]" value="{{ population.PopulationID }}">
                    <span>{{ population.PopulationName }}</span>
                </label>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Analyze</button>
    </fieldset>
</form>
{% endblock %}
