<!-- analysis_selection.html -->
{% extends "layout.html" %}

{% block content %}
<div class="analysis-options">
  <h2 class="center-text">Select Analysis Type</h2>
  <div class="analysis-box">
    <!-- Existing PCA Analysis Box -->
    <h3 style="font-family: 'Bebas Neue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"><a href="{{ url_for('pca_form') }}">PCA ANALYSIS</a></h3>
    <p>Principal Component Analysis for population stratification.</p>
    <a href="{{ url_for('pca_description') }}">
      <button class="analysis-link">Learn More</button>
    </a>
  </div>
  <div class="analysis-box">
    <!-- Existing Admixture Analysis Box -->
    <h3 style="font-family: 'Bebas Neue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"><a href="{{ url_for('admixture_form') }}">ADMIXTURE ANALYSIS</a></h3>
    <p>Analyze genetic admixture in populations.</p>
    <a href="{{ url_for('admixture_description') }}">
      <button class="analysis-link">Learn More</button>
    </a>
  </div>
  <div class="analysis-box">
    <!-- Updated SNP Analysis Box -->
    <h3 style="font-family: 'Bebas Neue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"><a href="{{ url_for('snp_analysis_form') }}">SNP ANALYSIS</a></h3> <!-- Add this anchor tag -->
    <p>Single Nucleotide Polymorphism frequency analysis.</p>
    <a href="{{ url_for('snp_description') }}">
      <button class="analysis-link">Learn More</button>
    </a>
  </div>
</div>
{% endblock %}
