{% extends "layout.html" %}

<!DOCTYPE html>
<html>
<head>
  <!-- Your head content here (e.g., title, meta tags) -->
</head>

{% block content %}
<div class="contact">
    <h2 class="tutorial-head">CONTACT US</h2>
        <br>
        <p class="tutorial-p">This web app was produced a part of our MSc Bioinformatics Software Development Project.</p>
        <br>
        <br>
        <br>
        <p class="tutorial-h3">CONTRIBUTORS</p>
        <br>
        <p class="tutorial-p"><strong>Dhwani Nilesh Trivedi:</strong> d.trivedi@se22.qmul.ac.uk </p>
        <br>
        <p class="tutorial-p"><strong>Djinho Molonga Itshary:</strong> d.itshary@smd23.qmul.ac.uk</p>
        <br>
        <p class="tutorial-p"><strong>Haik Ghazumyan:</strong> h.ghazumyan@se23.qmul.ac.uk</p>
        <br>
        <p class="tutorial-p"><strong>Nasibah Abdulkadir Abdi Warsame:</strong>n.a.a.warsame@se23.qmul.ac.uk</p>
        <br>
        <br>
        <br>
        <p class="tutorial-h3">Queen Mary University of London</p>
        <br>
        <p class="tutorial-p">327 Mile End Rd, Bethnal Green, London E1 4NS</p>
  
  <!-- You can add more content here based on your project's needs -->
  
</div>




<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
<div class="site-footer">
    <footer class="bottom-banner"> 
        <div class="footer-content">
            <div class="social-media">
                <a href="https://github.com/Djinho/Population-Genetics-Web-Tool" target="_blank" rel="noopener noreferrer">
                    <img src="{{ url_for('static', filename='images/github-mark-white.png') }}">
                </a>
            </div>
            <div class="copyright">
                <p>&copy; 2024 GenomePop Analytics. All rights reserved.</p>
            </div>

        </div>
    </footer>
</div>
{% endblock %}