{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap">  
</head>

<body>
{% block content %}

<div class="main-container">
    <div class="welcome-section">
        <div class="welcome-message">
            <h1 class="idx-h1">WELCOME TO POPULATION GENOMICS ANALYSIS</h1>
            <p class="idx-p">Explore our comprehensive tools and databases to enhance your genomics research.</p>
            <a href="{{ url_for('analysis_tools') }}" class="cta-button-idx">Get Started</a>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            
            <h2>PCA ANALYSIS</h2>
            
            <p class="card-desc">Principal Component Analysis for population stratification.</p>
            <br>
            <a href="{{ url_for('pca_description') }}">
                <button>Learn More!</button>
            </a>
        </div>
        
        <div class="card">
            
            <h2>ADMIXTURE ANALYSIS</h2>
            
            <p class="card-desc">Analyse genetic admixture in populations.</p>
            <br>
            <a href="{{ url_for('admixture_description') }}">
                
                <button>Learn More!</button>
            </a>
        </div>
        
        <div class="card">
             <!-- Corrected the typo here -->
            <h3>SNP ANALYSIS</h3>
            
            <p class=card-desc">Single Nucleotide Polymorphism frequency analysis.</p>
            <a href="{{ url_for('snp_description') }}"> 
                <br>
                <button>Learn More!</button>
            </a>
        </div>
    </div>
</div>

<div class="bottom-banner">
    <footer class="site-footer"> 
        <div class="footer-content">

            <div class="social-media">
                <a href="https://github.com/Djinho/Population-Genetics-Web-Tool" target="_blank" rel="noopener noreferrer">
                    <img src="{{ url_for('static', filename='images/github-mark-white.png') }}">
                </a>
            </div>
            <div class="copyright">
                <p>&copy; 2024 GenomePop Analytics. All rights reserved.</p>
            </div>

        </div>
    </footer>
</div>

</body>

{% endblock %}






