<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GenomePop Analytics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="top-banner">
        <div class="site-header"> <!-- Add this div to contain the logo and the navigation -->
            <a href="{{ url_for('index') }}" class="logo-link">GenomePop Analytics</a>
            <nav class="site-nav">
                <ul>
                    <li><a href="{{ url_for('index') }}">HOME</a></li>
                    <li><a href="{{ url_for('analysis_tools') }}">ANALYSIS TOOLS</a></li>
                    <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                    <li><a href="{{ url_for('contact') }}">CONTACT</a></li>
                </ul>
            </nav>
        </div>
    </div>
    
    
    <main>
        {% block content %}
        <!-- The content of your child templates will be inserted here -->
        {% endblock %}
    </main>
    
    <footer>
        <!-- Footer content here -->
    </footer>
    
    <!-- JavaScript files are included at the end of the body to allow the content to load faster -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block additional_scripts %}
    <!-- Child templates can add additional scripts here if necessary -->
    {% endblock %}
</body>
</html>
