<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GenomePop Analytics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- You can add other meta tags and head elements as needed -->
</head>
<body>
    <div class="top-banner">
        <header class="site-header">
            <h1>GenomePop Analytics</h1>
            <nav class="site-nav">
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('analysis_tools') }}">Analysis Tools</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
            </nav>
        </header>
    </div>
    
    <main>
        {% block content %}
        <!-- The content of your child templates will be inserted here -->
        {% endblock %}
    </main>
    
    <footer>
        <!-- Footer content here -->
    </footer>
    
    <!-- JavaScript files are included at the end of the body to allow the content to load faster -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block additional_scripts %}
    <!-- Child templates can add additional scripts here if necessary -->
    {% endblock %}
</body>
</html>
