{% extends "layout.html" %}

{% block content %}

<h2>PCA Analysis Form</h2>
<form action="{{ url_for('analyze') }}" method="post">
    <fieldset>
        <legend>Select Superpopulations for PCA Analysis:</legend>
        <div class="population-group">
            {% for population in superpopulations %}
            <div class="population-item">
                <input type="checkbox" id="superpop{{ loop.index }}" name="populations[]" value="{{ population.PopulationID }}" {% if population.PopulationID|string in selected_populations %}checked{% endif %}>
                <label for="superpop{{ loop.index }}">{{ population.PopulationName }}</label>
            </div>
            {% endfor %}
        </div>
    </fieldset>
    <fieldset>
        <legend>Select Regular Populations for PCA Analysis:</legend>
        <div class="population-group">
            {% for population in regular_populations %}
            <div class="population-item">
                <input type="checkbox" id="regpop{{ loop.index }}" name="populations[]" value="{{ population.PopulationID }}" {% if population.PopulationID|string in selected_populations %}checked{% endif %}>
                <label for="regpop{{ loop.index }}">{{ population.PopulationName }}</label>
            </div>
            {% endfor %}
        </div>
    </fieldset>
    <div class="analysis-settings">
        <input type="checkbox" id="perSample" name="perSample" {% if per_sample %}checked{% endif %}>
        <label for="perSample">Per Sample</label>
    </div>
    <button type="submit">Analyze</button>
</form>

{% if plot_json %}
    <div id="pcaPlot"></div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var plotData = JSON.parse('{{ plot_json | safe }}');
        Plotly.newPlot('pcaPlot', plotData.data, plotData.layout);
    </script>
{% else %}
    <p>No PCA results to display.</p>
{% endif %}

{% endblock %}
