<!-- pca_description.html -->
{% extends "layout.html" %}

{% block content %}
<div class="content">
    <h2>PCA Analysis Description</h2>
    <p>
        Here you can add information about what PCA analysis is, how it is used, etc.
    </p>



</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
<div class="site-footer">
    <footer class="bottom-banner"> 
        <div class="footer-content">
            <div class="social-media">
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="{{ url_for('static', filename='images/github-mark-white.png') }}">
                </a>
            </div>
            <div class="copyright">
                <p>&copy; 2024 GenomePop Analytics. All rights reserved.</p>
            </div>

        </div>
    </footer>
</div>
{% endblock %}
