{% extends "layout.html" %}

{% block content %}
<h2>PCA Analysis Form</h2>
<form action="{{ url_for('analyze') }}" method="post" id="pcaForm">
    <fieldset>
        <legend>Select Populations for PCA Analysis:</legend>
        <div class="population-container">
            <!-- Loop through the populations passed from the Flask route and create a checkbox for each one -->
            {% for population in populations %}
                <label class="population-label">
                    <input type="checkbox" id="pop{{ population.PopulationID }}" name="populations[]" value="{{ population.PopulationID }}">
                    <span>{{ population.PopulationName }}</span>
                </label>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Analyze</button>
    </fieldset>
</form>
<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
<div class="site-footer">
    <footer class="bottom-banner> 
        <div class="footer-content">

            <div class="social-media">
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="{{ url_for('static', filename='images/github-mark-white.png') }}">
                </a>
            </div>
            <div class="copyright">
                <p>&copy; 2024 GenomePop Analytics. All rights reserved.</p>
            </div>

        </div>
    </footer>
</div>

{% endblock %}