{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenomePop Analytics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>SNP Analysis</h1>
    <form action="/snp-analysis" method="post">
        <!-- Add form elements for gene and chromosome selection -->
        <input type="submit" value="Submit">
    </form>

    <h2>Results:</h2>
    <table border="1">
        <tr>
            <th>Chromosome</th>
            <th>Position</th>
            <th>ID</th>
            <th>REF</th>
            <th>ALT</th>
            <th>Gene Name</th>
            <th>Gene Type</th>
            <th>Clinical Significance</th>
            <th>Distance</th>
        </tr>
        {% for entry in snp_data %}
        <tr>
            <td>{{ entry['Chromosome'] }}</td>
            <td>{{ entry['Position'] }}</td>
            <td>{{ entry['ID'] }}</td>
            <td>{{ entry['REF'] }}</td>
            <td>{{ entry['ALT'] }}</td>
            <td>{{ entry['GeneName'] }}</td>
            <td>{{ entry['GeneType'] }}</td>
            <td>{{ entry['ClinicalSignificance'] }}</td>
            <td>{{ entry['Distance'] }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="9">No data found.</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>








<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
<div class="site-footer">
    <footer class="bottom-banner"> 
        <div class="footer-content">
            <div class="social-media">
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="{{ url_for('static', filename='images/github-mark-white.png') }}">
                </a>
            </div>
            <div class="copyright">
                <p>&copy; 2024 GenomePop Analytics. All rights reserved.</p>
            </div>

        </div>
    </footer>
</div>

{% endblock %}