{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FST Results - GenomePop Analytics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        #fstHeatmap {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        .scrollable-table {
            overflow-x: auto;
            margin-top: 20px;
        }
        table {
            width: auto;
            margin: auto;
        }
    </style>
</head>
<body>
    <h1>FST Calculation Results</h1>
    <div id="fstHeatmap"></div>
    <script type="text/javascript">
        var fstHeatmapData = {{ fst_heatmap_json | safe }};
        Plotly.react('fstHeatmap', fstHeatmapData.data, fstHeatmapData.layout);
    </script>

    <h2>Pairwise FST Values</h2>
    <div class="scrollable-table">
        <table>
            <tr>
                <th>Population</th>
                {% for population in selected_populations %}
                    <th>{{ population }}</th>
                {% endfor %}
            </tr>
            {% for row in fst_matrix_list %}
                <tr>
                    <td>{{ row['Population'] }}</td>
                    {% for population in selected_populations %}
                        <td>{{ row[population] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    
    <!-- Using a button element for 'Download FST Matrix CSV' -->
    <button onclick="location.href='{{ url_for('download_route', filename=fst_matrix_csv_filename) }}'" style="margin-right: 10px;">Download FST Matrix CSV</button>
    <button onclick="Plotly.downloadImage('fstHeatmap', {format: 'png', filename: 'fst_heatmap'})">Download Heatmap Image</button><br><br>
    <!-- Adding some space before 'Back to SNP Analysis' -->
    <a href="/snp-analysis" style="display:block; margin-top:20px;">Back to SNP Analysis</a>
</body>
</html>
{% endblock %}
