{% extends "layout.html" %}
<!DOCTYPE html>
<html>
<head>
  <!-- Your head content here (e.g., title, meta tags) -->
</head>

<body>
{% block content %}
    <h2 class="tutorial-head">TUTORIALS</h2>
      <br>
      <p class="tutorial-p">Here you can find various tutorials on how to use our analysis tools...</p>
      <br>
      <h3 class="tutorial-h3">PCA</h3>
      <br>
      <p class="tutorial-p">Select the required populations and press 'analyze' - this will show the PCA results for the selected data. The populations are split into 'superpopulations' and 'populations' allowing the user to distinguish between the two. The 'per sample' button needs to be selected in tandem with the populations to show an sample-centric PCA result.</p>
      <br>
      <h3 class="tutorial-h3">ADMIXTURE ANALYSIS</h3>
      <br>
      <p class="tutorial-p">Select the required populations and press 'analyze' - this will show the Admixture analysis results for the selected populations, in the format of an interactive barchart side by side. The populations are split into 'superpopulations' and 'populations' allowing the user to distinguish between the two.</p>
      <br>
      <h3 class="tutorial-h3">SNP ANALYSIS</h3>
      <br>
      <p class="tutorial-p">Select the required populations and the required SNPs in tandem from the list. Press 'analyze' and this will show the relevant statistics, including genotype and allele frequencies, reference and alternate allele, and their clinical relevance. Pressing the 'Calculate FST' will calculate the FST for the selected SNPs, and a pairwise matrix of these. It will also produce a visual representation (a heatmap) of the selected SNPs and a button which allows you to download the results, including the heatmap. There will be a warning if too many SNPs are selected.</p>

</body>



<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
<div class="site-footer">
    <footer class="bottom-banner"> 
        <div class="footer-content">
            <div class="social-media">
                <a href="https://github.com/Djinho/Population-Genetics-Web-Tool" target="_blank" rel="noopener noreferrer">
                    <img src="{{ url_for('static', filename='images/github-mark-white.png') }}">
                </a>
            </div>
            <div class="copyright">
                <p>&copy; 2024 GenomePop Analytics. All rights reserved.</p>
            </div>

        </div>
    </footer>



  {% endblock %}
